<div class="login-container">
  <div class="login-left">
   
    <mat-icon class=" logo-recuperar">vpn_key</mat-icon> 
  </div>

  <div class="login-right">
    <h2 class="login-title">Recupera tu contraseña</h2>

    <form
      class="registro-form"
      [formGroup]="formRecuperar"
      (ngSubmit)="recuperar()"
    >
      <label for="email">Correo electrónico</label>

      <!-- #emailInput y #curpInput permiten obtener el valor de cada campo fácilmente. -->
      <input
        type="text"
        id="email"
        formControlName="email"
        placeholder="correo@ejemplo.com"
      />
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors?.['required']">*El email es obligatorio</span>
        <span *ngIf="email.errors?.['pattern']">*El email debe ser valido</span>
      </div>
      <label for="curp">CURP</label>
      <!-- Metodos par ahcer mayusculas -> (input)="toUppercase('curp', $event)" -->

      <input
        type="text"
        id="curp"
        formControlName="curp"
        placeholder="RACW050729MMCSHNA2"
        (input)="toUppercase('curp', $event)"
        maxlength="18"
        minlength="18"
      />
      <small *ngIf="curp.errors?.['required'] && curp.touched">
        *La CURP es obligatoria.
      </small>
      <small *ngIf="curp.errors?.['pattern'] && curp.touched" class="error">
        *La CURP no es válida.
      </small>

      <button
        class="label-centrado"
        type="submit"
        [disabled]="formRecuperar.invalid"
        [ngClass]="{
          'btn-valido': formRecuperar.valid,
          'btn-invalido': formRecuperar.invalid
        }"
      >
        Recuperar
      </button>
    </form>
  </div>
</div>
