<!-- src/app/components/contacto/contacto.component.html -->
<main class="contact-frame">

  <div >
    <h2 class="contact-title">Contáctanos</h2>

    <!-- <div *ngFor="let c of contactos" class="contact-card">
      <p>{{ c.nombre }}</p>
      <p>{{ c.puesto }}</p>
      <p><a href="mailto:{{ c.email }}">{{ c.email }}</a></p>
    </div> -->
    
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Jesus Enrique Escalante Ibarra</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretario General</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'secretariageneral1313@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 1234 5678</p> -->
    </div>

    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Juan Vidal Sanchez Velasco</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretario de Trabajo, Conflictos y Acción Política</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'trabajo.conflictos.25@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 9876 5432</p> -->
    </div>
  
    <!-- Agrega aquí 8 contactos más con el mismo formato -->
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Isabel Hernandez Montiel</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretaria de Organización Actas y Acuerdos</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'organizacionsnti@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 1122 3344</p> -->
    </div>
  
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Hyobana Nataly Sevilla Monroy</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretaria de Finanzas</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'cenfinanzas22.25@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 2233 4455</p> -->
    </div>
  
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Iliana Tomasa Martinez Molina</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretaria de Prestaciones Económicas, Fomento Deportivo, Cultural y Previsión Social </p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'prestaciones.cen@hotmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 3344 5566</p> -->
    </div>
  
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Virginia Montoya Aparicio</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretario de Escalafón</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'sntiescalafon.2225@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 4455 6677</p> -->
    </div>
  
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Maria Teresa Hernandez Castro</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Secretario de Formación y Capacitación sindical</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'snti.capacitacion9@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 5566 7788</p> -->
    </div>
  
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> LUZ MARIA ALONSO VARGAS</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Presidente de la Comisión Nacional de Vigilancia</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'pcvigilancia24.25@gmail.com '}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 6677 8899</p> -->
    </div>

    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> YOLANDA GIL NOH</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> PRIMER VOCAL - Presidente de la Comisión Nacional de Vigilancia</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'yoligil1802@hotmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 6677 8899</p> -->
    </div>

    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> MERCEDES GUADALUPE CALDERON RODRIGUEZ</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> SEGUNDO VOCAL - Presidente de la Comisión Nacional de Vigilancia</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'mercedes.calderonr@outlook.com '}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 6677 8899</p> -->
    </div>
  
    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> Antonio Vazquez Gomez</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> Presidente de la Comisión Nacional de Honor y Justicia</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'vazquezgomeza.cen.pcnhj22.25@gmail.com'}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 7788 9900</p> -->
    </div>

    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> BERTHA ANGELICA GUZMAN CASTRO</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> PRIMER VOCAL - Presidente de la Comisión Nacional de Vigilancia</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'primeravocal.cnhj@gmail.com '}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 6677 8899</p> -->
    </div>

    <div class="contact-card">
      <p><mat-icon>person_outline</mat-icon><strong>Nombre:</strong> VIRGEN MARIA OZUA MOROYOQUI</p>
      <p><mat-icon>work_outline</mat-icon><strong>Puesto:</strong> SEGUNDO VOCAL - Presidente de la Comisión Nacional de Vigilancia</p>
      <p><mat-icon>mail_outline</mat-icon><strong>Email:</strong> {{'ozuamoroyaquivirgen@gmail.com '}}</p>
      <!-- <p><strong>Tel:</strong> +52 55 6677 8899</p> -->
    </div>
  
  </div>
  

</main>
